.app-component-nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-nav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
}

mat-sidenav-container{
  overflow: auto;
  min-height: 100%;
}

.app-home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

