.app-component-nav {
  display: flex;
  flex-direction: column;
}

.app-nav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}

